*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-size: 13px;
    font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
}

.container_grid{
    display: grid;

    width: 80vw;
    height: 70vh;
    margin: 15vh auto;
    background-color: burlywood;
}

.item{
    color: red;
}