/* generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color:#D8D9DD ;
    font-size: 13px;
    font-weight: 400;
    font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
}


h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
}

p{
    line-height: 16px;
    margin: 20px 0 0 0;
}

img{
    float: left;
    border: 2px solid white;
    max-width: 40px;
    margin-right: 20px;
    border-radius: 100%;
}

span{
    font-size: 10px;
    vertical-align: sub;
}

/* Contenitore griglia */

.container_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;

    width: 80vw;
    margin: 15vh auto;
}

/* Item contenitore griglia */

.item{
    border-radius: 10px;
    background-color: red;

    padding: 30px;
}

/* alto sinistra */

.item-1{
    background-color: hsl(263, 55%, 52%);
    background-image: url(../img/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 80%;
    grid-column: span 2;
}

.item-1 img{
    border: 2px solid hsl(264, 82%, 80%);
}

/* alto centrale */

.item-2{
    background-color:#49556B;
}

/* alto destra */

.item-3{
    color: hsl(224, 10%, 45%);
    background-color: white;
    grid-row: span 2; 
}

/* basso sinistra */

.item-4{
    color: hsl(224, 10%, 45%);;
     background-color: white;
}

/* basso centrale */

.item-5{
    background-color: #191F2D;
    grid-column: span 2;
}

.item-5 img{
    border: 2px solid hsl(263, 55%, 52%);
}
